In [73]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [28]:
data = pd.read_csv('C:\Python\Millinaire\movie_bd_v5.csv')
data.sample(10)
len(data)

1889

In [23]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [39]:
# answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
answers = {}

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
s=data.loc[data['budget'].idxmax()]
display(s)

imdb_id                                                         tt1298650
budget                                                          380000000
revenue                                                        1021683000
original_title                Pirates of the Caribbean: On Stranger Tides
cast                    Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
director                                                     Rob Marshall
tagline                                       Live Forever Or Die Trying.
overview                Captain Jack Sparrow crosses paths with a woma...
runtime                                                               136
genres                                           Adventure|Action|Fantasy
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|M...
release_date                                                    5/11/2011
vote_average                                                          6.3
release_year                                                         2011
Name: 723, dtype: object

In [41]:
answers['1'] = 'irates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

NameError: name 'answers' is not defined

In [9]:
d=data.loc[data['runtime'].idxmax()]
display(d)

imdb_id                                                         tt0279111
budget                                                           56000000
revenue                                                          12923936
original_title                                          Gods and Generals
cast                    Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...
director                                                Ronald F. Maxwell
tagline                               The nations heart was touched by...
overview                The film centers mostly around the personal an...
runtime                                                               214
genres                                                  Drama|History|War
production_companies                   Turner Pictures|Antietam Filmworks
release_date                                                    2/21/2003
vote_average                                                          5.8
release_year                                                         2003
Name: 1157, dtype: object

In [42]:
answers['2'] = 'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [128]:
d=data.loc[data['runtime'].idxmin()]
display(d)

imdb_id                                                         tt1449283
budget                                                           30000000
revenue                                                          14460000
original_title                                            Winnie the Pooh
cast                    Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...
director                                        Stephen Anderson|Don Hall
tagline                                                          Oh Pooh.
overview                During an ordinary day in Hundred Acre Wood, W...
runtime                                                                63
genres                                                   Animation|Family
production_companies    Walt Disney Pictures|Walt Disney Animation Stu...
release_date                                                    4/13/2011
vote_average                                                          6.8
release_year                                                         2011
Name: 768, dtype: object

In [43]:
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [10]:
d=data['runtime'].mean()
display(d)

109.6585494970884

In [44]:
answers['4'] = '109.6'

# 5. Каково медианное значение длительности фильмов?

In [12]:
d=data['runtime'].median()
display(d)

107.0

In [45]:
answers['5'] = '107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
data['profit'] = data['revenue'] - data['budget']
data1=data.loc[data['profit'].idxmax()]
display(data1)

imdb_id                                                         tt0499549
budget                                                          237000000
revenue                                                        2781505847
original_title                                                     Avatar
cast                    Sam Worthington|Zoe Saldana|Sigourney Weaver|S...
director                                                    James Cameron
tagline                                       Enter the World of Pandora.
overview                In the 22nd century, a paraplegic Marine is di...
runtime                                                               162
genres                           Action|Adventure|Fantasy|Science Fiction
production_companies    Ingenious Film Partners|Twentieth Century Fox ...
release_date                                                   12/10/2009
vote_average                                                          7.1
release_year                                                         2009
profit                                                         2544505847
Name: 239, dtype: object

In [46]:
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [14]:
data['profit'] = data['revenue'] - data['budget']
data1=data.loc[data['profit'].idxmin()]
display(data1)

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
Name: 1245, dtype: object

In [47]:
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
data_more_nill = data[data['profit'] > 0]
display(data_more_nill)
len(data_more_nill)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,5.7,2000,7036004
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000,4700000
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000,7728118
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000,12609995
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717

1478

In [48]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [11]:
data_2008 =data[data['release_year'] == 2008]
data_2008max=data_2008.loc[data_2008['profit'].idxmax()]
display(data_2008max)

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_average                                                          8.1
release_year                                                         2008
profit                                                          816921825
Name: 599, dtype: object

In [49]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [12]:
data_2012_14 =data[data['release_year'].isin(['2012','2013','2014'])]
data_2012_14min=data_2012_14 .loc[data_2012_14 ['profit'].idxmin()]
display(data_2012_14min)

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
Name: 1245, dtype: object

In [50]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [13]:
data.genres.str.split('|').explode('genres').value_counts().idxmax()

'Drama'

ВАРИАНТ 2

In [51]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [13]:
data_more_nill['genres'].str.split('|').explode().value_counts().idxmax()

NameError: name 'data_more_nill' is not defined

In [52]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [14]:
df = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
print(df)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [53]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [15]:
data[data.genres.str.contains('Action')].director.str.split('|').explode('director').mode()[0]

'Robert Rodriguez'

In [54]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [16]:
data_2012 =data[data['release_year'] == 2012]
data_2012max=data_2012.loc[data_2012['revenue'].idxmax()]
display(data_2012max['cast'])

'Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson'

In [55]:
answers['15'] = 'Chris Evans'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [17]:
data[data.budget>data.budget.mean()].cast.str.split('|').explode('cast').value_counts().idxmax()

'Matt Damon'

In [56]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [18]:
data[data.cast.str.contains('Nicolas Cage')]['genres'].str.split('|').explode().value_counts().idxmax()

'Action'

In [57]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [62]:
data_less_nill = data[data['profit'] < 0]

display(data_less_nill)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
51,tt3045616,60000000,30418560,Mortdecai,Johnny Depp|Gwyneth Paltrow|Ewan McGregor|Paul...,David Koepp,Sophistication Has a Name.,"Art dealer, Charles Mortdecai, searches for a ...",106,Comedy|Adventure,Lionsgate|Mad Chance|OddLot Entertainment|Huay...,1/21/2015,5.3,2015,-29581440
53,tt2717822,70000000,17752940,Blackhat,Chris Hemsworth|Leehom Wang|Tang Wei|Viola Dav...,Michael Mann,We are no longer in control.,A man is released from prison to help American...,133,Mystery|Crime|Action|Thriller|Drama,Universal Pictures|Forward Pass|Legendary Pict...,1/13/2015,5.0,2015,-52247060
59,tt1390411,100000000,93820758,In the Heart of the Sea,Chris Hemsworth|Benjamin Walker|Cillian Murphy...,Ron Howard,Based on the incredible true story that inspir...,"In the winter of 1820, the New England whaling...",122,Thriller|Drama|Adventure|Action|History,Imagine Entertainment|Spring Creek Productions...,11/20/2015,6.4,2015,-6179242
64,tt3332064,150000000,128388320,Pan,Levi Miller|Garrett Hedlund|Hugh Jackman|Roone...,Joe Wright,Every legend has a beginning.,Living a bleak existence at a London orphanage...,111,Adventure|Family|Fantasy,Warner Bros.|Moving Picture Company (MPC)|Berl...,9/24/2015,5.9,2015,-21611680
74,tt1014763,50000000,3324330,Child 44,Tom Hardy|Gary Oldman|Noomi Rapace|Joel Kinnam...,Daniel Espinosa,How do you find a killer who doesnâ€™t exist?,"Set in Stalin-era Soviet Union, a disgraced MG...",137,Crime|Thriller,Summit Entertainment|Scott Free Productions|Wo...,3/15/2015,5.9,2015,-46675670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1882,tt0217756,24000000,12372410,Ready to Rumble,David Arquette|Scott Caan|Oliver Platt|Rose Mc...,Brian Robbins,They're headed to the big time...face first.,Two slacker wrestling fans are devastated by t...,107,Action|Comedy|Drama,Bel Air Entertainment|Warner Bros.,4/7/2000,4.4,2000,-11627590
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

In [6]:
data_less_nill[data_less_nill.production_companies.str.contains('Paramount Pictures')].sort_values(by=['profit'], ascending=True)

NameError: name 'data_less_nill' is not defined

In [58]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [17]:
data = pd.read_csv('C:\Python\Millinaire\movie_bd_v5.csv')
data.sample(10)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1334,tt0320661,130000000,211643158,Kingdom of Heaven,Orlando Bloom|Eva Green|Jeremy Irons|Marton Cs...,Ridley Scott,Be without fear in the face of your enemies. S...,"After his wife dies, a blacksmith named Balian...",144,Drama|Action|Adventure|History|War,Studio Babelsberg|Twentieth Century Fox Film C...,5/3/2005,6.4,2005
232,tt1043726,70000000,61279452,The Legend of Hercules,Kellan Lutz|Liam McIntyre|Gaia Weiss|Scott Adk...,Renny Harlin,Every Man Has a Destiny,"In Ancient Greece 1200 B.C., a queen succumbs ...",99,Action|Adventure,Millennium Films,1/10/2014,4.4,2014
1416,tt0419294,15000000,12036149,The Three Burials of Melquiades Estrada,Tommy Lee Jones|Barry Pepper|Dwight Yoakam|Jan...,Tommy Lee Jones,Nobody is beyond redemption.,When brash Texas border officer Mike Norton (B...,121,Adventure|Crime|Drama|Mystery|Western,The Javelina Film Company|EuropaCorp,11/17/2005,6.7,2005
943,tt0307479,47000000,30002758,Solaris,George Clooney|Natascha McElhone|Viola Davis|J...,Steven Soderbergh,How far will you go for a second chance?,Upon arrival at the space station orbiting an ...,99,Drama|Science Fiction|Mystery|Romance,Twentieth Century Fox Film Corporation|Lightst...,11/27/2002,5.8,2002
1569,tt0343818,120000000,347234916,"I, Robot",Will Smith|Bridget Moynahan|Alan Tudyk|James C...,Alex Proyas,Laws are made to be broken.,"In the year 2035, where robots are common and ...",115,Action|Science Fiction,Twentieth Century Fox Film Corporation|Laurenc...,7/15/2004,6.6,2004
1286,tt0882977,35000000,42930462,Snitch,Dwayne Johnson|Barry Pepper|Jon Bernthal|Susan...,Ric Roman Waugh,How far would you go to save your son?,Construction company owner John Matthews learn...,112,Thriller|Drama,Front Street Productions|Participant Media|Ima...,2/21/2013,5.7,2013
861,tt1588334,10000000,4417580,"Jeff, Who Lives at Home",Jason Segel|Ed Helms|Susan Sarandon|Judy Greer...,Mark Duplass|Jay Duplass,The first step to finding your destiny is leav...,Dispatched from his basement room on an errand...,83,Drama|Comedy,Indian Paintbrush,9/13/2011,5.9,2011
1480,tt0418689,90000000,65900249,Flags of Our Fathers,Ryan Phillippe|Adam Beach|Jesse Bradford|John ...,Clint Eastwood,They fight for their country but they die for ...,There were five Marines and one Navy Corpsman ...,132,War|Drama|History,DreamWorks SKG|Amblin Entertainment|Malpaso Pr...,10/19/2006,6.7,2006
104,tt3623726,18000000,41325328,Ricki and the Flash,Meryl Streep|Kevin Kline|Mamie Gummer|Sebastia...,Jonathan Demme,Get Ready for Ricki.,"Meryl Streep stars as Ricki Rendazzo, a guitar...",100,Comedy|Drama|Music,Columbia TriStar|Clinica Estetico|LStar Capital,7/10/2015,5.5,2015
1377,tt0376105,30000000,93772522,Racing Stripes,Frankie Muniz|Mandy Moore|Hayden Panettiere|Br...,Frederik Du Chau,Cheer 'til you're horse!,Shattered illusions are hard to repair -- espe...,102,Comedy,Alcon Entertainment,1/6/2005,5.1,2005

In [38]:
data_max_cash=data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).idxmax()
display(data_max_cash)

2015

In [59]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [19]:
data_WB=data_more_nill[data_more_nill.production_companies.str.contains('Warner')].sort_values(by=['release_year'],ascending=True) 
display(data_WB)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1857,tt0177971,120000000,325756637,The Perfect Storm,George Clooney|Mark Wahlberg|Diane Lane|John C...,Wolfgang Petersen,The storm is coming.,"In October 1991, a confluence of weather condi...",130,Drama,Warner Bros.|Baltimore Spring Creek Production...,3/15/2000,5.9,2000,205756637
1843,tt0186566,65000000,128884132,Space Cowboys,Clint Eastwood|Tommy Lee Jones|Donald Sutherla...,Clint Eastwood,Space will never be the same.,"Frank Corvin, â€˜Hawkâ€™ Hawkins, Jerry O'Neil...",130,Action|Adventure|Thriller,Village Roadshow Pictures|Malpaso Productions|...,7/31/2000,6.2,2000,63884132
1827,tt0223897,40000000,55707411,Pay It Forward,Kevin Spacey|Helen Hunt|Haley Joel Osment|Jay ...,Mimi Leder,"When someone does you a big favor, don't pay i...","Like some other kids, 12-year-old Trevor McKin...",122,Drama|Romance,Bel Air Entertainment|Warner Bros.,10/12/2000,6.8,2000,15707411
1825,tt0212346,45000000,212000000,Miss Congeniality,Sandra Bullock|Benjamin Bratt|Michael Caine|Ca...,Donald Petrie,Never Mess With An Agent In A Dress.,Gracie Hart is a tough-as-nails FBI officer. W...,111,Comedy|Crime|Action,Village Roadshow Pictures|Castle Rock Entertai...,12/14/2000,6.1,2000,167000000
1815,tt0165929,25000000,91036760,Romeo Must Die,Jet Li|Aaliyah|Isaiah Washington|Russell Wong|DMX,Andrzej Bartkowiak,"In the city ruled by criminals, two families h...",Two warring gang families (one African-America...,115,Action|Crime|Thriller,Silver Pictures|Warner Bros.,3/20/2000,5.8,2000,66036760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,tt2268016,14800000,122413057,Magic Mike XXL,Channing Tatum|Matt Bomer|Joe Manganiello|Kevi...,Gregory Jacobs,Back to the grind.,Three years after Mike bowed out of the stripp...,115,Comedy|Drama|Music,Warner Bros.|Iron Horse Entertainment (II),7/1/2015,6.3,2015,107613057
98,tt3369806,20000000,43967255,Max,Thomas Haden Church|Josh Wiggins|Lauren Graham...,Boaz Yakin,Best Friend. Hero. Marine.,A dog that helped soldiers in Afghanistan retu...,111,Adventure|Drama|Family,Sunswept Entertainment|Warner Bros.|Metro-Gold...,6/26/2015,7.0,2015,23967255
107,tt2561572,40000000,106511453,Get Hard,Will Ferrell|Kevin Hart|Alison Brie|Craig T. N...,Etan Cohen,An education in incarceration.,When obscenely rich hedge-fund manager James i...,100,Comedy,Gary Sanchez Productions|Warner Bros.,3/26/2015,5.9,2015,66511453
82,tt1674771,30000000,49263404,Entourage,Jeremy Piven|Adrian Grenier|Jerry Ferrara|Kevi...,Doug Ellin,Dream Large. Live Larger.,"Movie star Vincent Chase, together with his bo...",104,Comedy,Warner Bros.|Closest to the Hole Productions,6/3/2015,6.2,2015,19263404
11,tt1617661,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2/4/2015,5.2,2015,7987720

In [61]:
max_cash_WB = data_WB.groupby('release_year')['profit'].sum().sort_values(ascending=False).idxmax()
display(max_cash_WB)

NameError: name 'data_WB' is not defined

In [62]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [21]:
data = pd.read_csv('C:\Python\Millinaire\movie_bd_v5.csv')
data.sample(10)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
758,tt1568911,66000000,177584879,War Horse,Tom Hiddleston|Benedict Cumberbatch|Toby Kebbe...,Steven Spielberg,Separated by War. Tested by Battle. Bound by F...,Follows a young man named Albert and his horse...,146,Drama|War,DreamWorks SKG|Amblin Entertainment|Reliance E...,12/25/2011,6.9,2011
626,tt1059786,80000000,178066569,Eagle Eye,Shia LaBeouf|Michelle Monaghan|Rosario Dawson|...,D.J. Caruso,Don't walk. Run.,Jerry Shaw (Shia LaBeouf) and Rachel Holloman ...,118,Mystery|Thriller|Action,DreamWorks SKG|K/O Paper Products|Goldcrest Pi...,9/25/2008,6.2,2008
1163,tt0295289,20000000,17432163,A Guy Thing,Jason Lee|Julia Stiles|Selma Blair|James Broli...,Chris Koch,Boy meets girl. Boy meets girl's cousin.,Paul Morse is a good guy. When his friends thr...,101,Comedy|Romance,Metro-Goldwyn-Mayer (MGM)|David Ladd Films,1/17/2003,5.3,2003
201,tt1085492,18000000,266586800,The Prince,Bruce Willis|Jason Patric|John Cusack|Jessica ...,Brian A Miller,Mercy is for the Weak,A family man who turns out to be a retired mob...,93,Thriller|Action,Grindstone Entertainment Group|Emmett/Furla Fi...,8/22/2014,4.6,2014
1070,tt1840417,6000000,13231461,The Words,Bradley Cooper|Zoe Saldana|Jeremy Irons|Dennis...,Brian Klugman|Lee Sternthal,There's more than one way to take a life.,The Words follows young writer Rory Jansen who...,96,Drama|Thriller,Serenade Films|CBS Films|Also Known As Pictures,9/7/2012,6.3,2012
607,tt0795421,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,6.2,2008
665,tt0852713,25000000,70442940,The House Bunny,Anna Faris|Emma Stone|Kat Dennings|Katharine M...,Fred Wolf,For the girls of ZETA house college life was n...,Shelley is living a carefree life until a riva...,97,Romance|Comedy,Columbia Pictures|Happy Madison Productions|Re...,8/22/2008,5.6,2008
1111,tt0327056,25000000,156822020,Mystic River,Sean Penn|Tim Robbins|Kevin Bacon|Marcia Gay H...,Clint Eastwood,"We bury our sins, we wash them clean.","A story about friendship and loyalty, guilt an...",138,Thriller|Crime|Drama|Mystery,Village Roadshow Pictures|Malpaso Productions|...,10/7/2003,7.4,2003
711,tt0805570,15000000,3533227,The Midnight Meat Train,Bradley Cooper|Vinnie Jones|Brooke Shields|Les...,RyÃ»hei Kitamura,The most terrifying ride you'll ever take,The photographer Leon lives with his girlfrien...,98,Mystery|Drama|Crime|Thriller|Horror,Lions Gate Films|Lakeshore Entertainment|Green...,8/7/2008,5.7,2008
166,tt2883512,11000000,45967935,Chef,Jon Favreau|John Leguizamo|Bobby Cannavale|Emj...,Jon Favreau,Starting from scratch never tasted so good,A chef who loses his restaurant job starts up ...,115,Comedy,Open Road Films|Aldamisa Entertainment|Kilburn...,5/8/2014,7.2,2014

In [16]:
pd.DatetimeIndex(data['release_date']).month.value_counts().idxmax()

9

In [63]:
answers['21'] = '9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [17]:
pd.DatetimeIndex(data['release_date']).month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [64]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [20]:
mov_wint = data.copy()
mov_wint['release_date'] = pd.to_datetime(mov_wint['release_date'])
mov_wint[mov_wint.release_date.dt.month.isin([1, 2, 12,])].director.str.split('|').explode('director').value_counts()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Adam Shankman        4
Nancy Meyers         4
                    ..
McG                  1
Iain Softley         1
John Erick Dowdle    1
Clare Kilner         1
Alex Garland         1
Name: director, Length: 358, dtype: int64

In [65]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [39]:
data['title_length'] = data['original_title'].map(lambda x: len(x))
companies = data['production_companies'].str.split('|').explode().unique()
for comp in companies:
    sum_gen[comp] = data['title_length'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()
sum_gen.sort_values(ascending=False).head()

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
dtype: float64

In [66]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [9]:
data_max_words = data.copy()
data_max_words['overview_length'] = data_max_words['overview'].str.split(' ').str.len()
data_max_words.production_companies = data_max_words.production_companies.str.split('|')
data_max_words = data_max_words.explode('production_companies')
data_max_words.groupby('production_companies')['overview_length'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_length, Length: 1771, dtype: float64

In [67]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
data = pd.read_csv('C:\Python\Millinaire\movie_bd_v5.csv')
df = data['vote_average'].value_counts(bins=100, ascending = False)
border = np.quantile(data.vote_average, 0.99)
data[data.vote_average >= border].sort_values(by='vote_average', ascending=False)['original_title']

599                                       The Dark Knight
9                                              Inside Out
34                                                   Room
118                                          Interstellar
125                                    The Imitation Game
370                                             Inception
1191                                     12 Years a Slave
1183                              The Wolf of Wall Street
1081        The Lord of the Rings: The Return of the King
872                                           The Pianist
1800                                              Memento
119                               Guardians of the Galaxy
138                              The Grand Budapest Hotel
128                                             Gone Girl
283                                            Mr. Nobody
1688                                  There Will Be Blood
1563                Eternal Sunshine of the Spotless Mind
1444                                         The Prestige
1213                                   Dallas Buyers Club
1205                                            Prisoners
124                                            Big Hero 6
1188                                                  Her
316                                              3 Idiots
863                 The Lord of the Rings: The Two Towers
155                              The Theory of Everything
28                                              Spotlight
177                                The Fault in Our Stars
496     The Lord of the Rings: The Fellowship of the Ring
Name: original_title, dtype: object

In [68]:
answers['26'] = 'Midnight Picture Show'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [76]:
from collections import Counter

In [77]:
from itertools import combinations

In [78]:
data = pd.read_csv('C:\Python\Millinaire\movie_bd_v5.csv')
pairs = Counter()
for i in range(0,len(data)):
    artists = data.cast[i].split('|')
    for j in list(combinations(artists, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

In [79]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)

In [80]:
answers

{'1': 'irates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '109.6',
 '5': '107.0',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Evans',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Midnight Picture Show',
 '27': ('Daniel Radcliffe', 'Rupert Grint')}